{% load static %}
<!doctype html>
<html lang="pt-br">
 <head>
 <meta charset="UTF-8" />
 <title>NexTrace Academy</title>
 <link rel="stylesheet" href="{% static 'mascote/style.css' %}" />
 </head>
 <body>
 <h2>Bem-vindo, {{ user_name }}!</h2>
 <div id="mascote-container">
 <img
 src="{% static 'mascote/mascote-cartoon.png' %}"
 alt="Mascote NexTrace"
 id="mascote"
 />
 <div id="olhos"></div>
 </div>
 <button onclick="acenarMascote()"> Acenar</button>
 <script src="{% static 'mascote/script.js' %}"></script>
 </body>
</html>